<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> --}}
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/mainx.css">

    <title>Neatify</title>
</head>
<body>
<body>
    <header class="site-header">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo left">Neatify</a>
                <ul class="right">
                    <li>
                        <a href="/solution/new">+solution</a>
                    </li>
                    <li>
                        <a href="/user/new">New User</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {{{ body }}}
    </main>
</body>
</html>