<section class="profile">
    <h2>{{user.local.email}}</h2>
    {{#if user.solutions}}
    <div class="solutions">
        {{#each user.solutions}} {{> 'solution'}} {{/each}}
    </div>
    {{else}}
    <p>No Solutions yet</p>
    {{/if}}
</section>

<form action="/user/{{user._id}}" method="post">
    <button type="delete" value="Remove">Delete User</button>
</form>
<form action="/problems" method="get">
    <button type="submit" class="problems-page">Problems</button>

    {{!-- <a href="/problems"><button class="problems-page">Problems</button></a> --}}
</form>