<section class="profile">
    <h2>{{user.local.email}}</h2>
    {{#if user.solutions}}
    <div class="solutions">
        {{#each user.solutions}} {{> 'solution'}} {{/each}}
    </div>
    {{else}}
    <p>No Solutions yet</p>
    {{/if}}
</section>

<form action="/user/{{this.id}}?_method=delete" method="post">
    <button type="delete" value="Remove">Delete User</button>
</form>
