 {{#if problems}}
<ul class="problems">
    {{#each problems}}
    <div>
        <li> {{ paragraph }}</li>
        <li> {{ _id }} </li>
        {{!-- id temporary so I can see the id of the problems and see if on click it is going to the specific problem show page
        --}}
        <a href="/problems/{{id}}"> <button class="problem">Select</button> </a>
    </div>

    {{/each}}
</ul>
{{/if}}

<a href="/user{{id}}" class="button">
    <button>Go to Signup</button>
</a>