{{!-- 
<ul class="each-problem">
    {{#each problems}}
    <div>
        <li> {{ _id }}</li>
    </div>
    {{/each}}
</ul> --}}



<div>
    {{ paragraph }}
</div>


<form action="/problems/{{_id}}?_method=PUT" method="POST" class="solution-form">
<textarea cols="55" rows="10" name="content"></textarea>
<button type ="submit">Submit Solution</button>
</form> 


