/* Layout */
body {
  background: linear-gradient(#000000b3, rgba(0, 0, 0, 0.7)),
    url("../books.jpg");
}

/* Header */
.nav-link {
  font-weight: 700;
  color: rgb(255, 255, 255);
  border-bottom: 0.25rem solid transparent;
}

.nav-link:hover,
.nav-link:focus {
  border-bottom-color: rgba(184, 201, 193, 0.815);
  color: rgb(255, 255, 255);
}

.nav-link {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* APP Index View */
h1 {
  color: white;
  font-size: 5.8em;
  font-family: Julius Sans One;
}

h2 {
  color: white;
  font-size: 2em;
  font-family: Julius Sans One;
}

.main {
  max-width: 50em;
  background-color: rgba(255, 255, 255, 0.096);
  text-align: center;
  margin-top: 20%;
  border-radius: 20px;
}
.card-text {
  /* color: white; */
  line-height: 1.5em;
  text-align: left;
  color: rgb(184, 201, 193);
}
.welcome-screen {
  font-size: 1.35em;
  text-align: center;
  color: rgb(184, 201, 193);
}

/* User new */
.user-wrapper {
  margin-top: 20%;
}

/* User show */
.user-no-solution {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.45rem;
}

.solution-form {
  margin-top: 2%;
}
.user-problems {
  margin-top: 2%;
}

/* Problem index */
.card-header {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.836);
}

/* Problem show */
.card {
  background-color: rgba(255, 255, 255, 0.096);
  text-align: center;
  border-radius: 20px;
}

.problem {
  color: rgb(184, 201, 193);
  text-align: center;
}
.problem-solution {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2%;
  border-radius: 5px;
}

.createdAt,
.content {
  padding-top: 5%;
  padding-bottom: 5%;
}

.content {
  color: rgb(255, 255, 255);
}
.createdAt {
  font-weight: 500;
  text-decoration: underline;
  color: rgb(184, 201, 193);
}
