/* Layout */
body {
  background: linear-gradient(#000000b3, rgba(0, 0, 0, 0.7)),
    url("../books.jpg");
}

/* Header */
.nav-link {
  /* padding: 0.25rem 0; */
  font-weight: 700;
  color: rgb(255, 255, 255);
  border-bottom: 0.25rem solid transparent;
}

.nav-link:hover,
.nav-link:focus {
  border-bottom-color: rgba(3, 207, 105, 0.815);
  /* background-color: rgba(255, 255, 255, 0.2); */
  color: rgb(255, 255, 255);
}

.nav-link {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* APP Index View */

.card {
  max-width: 42em;
  background-color: aquamarine;
}

/* User show */
