/* .nav-wrapper {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

select {
  display: block;
} */

body {
  background-color: black;
}
h1 {
  color: white;
}

/* #new-user {
    font-size: 2000px !important;
} */
