<div class="card">
    <div class="card-body">
        <h1 class="card-title">Neatify </h1>
        <p class="card-text">Welcome to Neatify, a place to practice!</br>
            Who has time to read lines and lines of text anymore? Concise writing, just like coding, is a skill that must by practiced.
            Use Neatify to practice keeping your writing as DRY as your code to say what you want quickly and keep your audience
            focused. Remember, easy reading is damn good writing!</p>
        {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
    </div>
</div>