<div class="card main">
    <div class="card-body">
        <h1 class="card-title">Neatify </h1>
        <p class="card-text welcome-screen">Welcome to Neatify, a place to practice!</br>
            Concise writing, just like coding, is a skill that must by practiced.
            <br>Use Neatify to practice keeping your writing as DRY as your code.<br>
            Say what you want quickly and keep your audience focused. <br>Remember, easy reading is damn good writing!</p>
    </div>
</div>